@import url("//cdn.web-fonts.ge/fonts/bpg-boxo/css/bpg-boxo.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: "BPG Boxo", sans-serif !important;
}

body {
    width: 100vw;
    overflow: hidden;
    height: 100vh;

}

@media screen and (max-width:900px) {
    .col2-main {
        overflow: scroll;
    }
}